   
    {% for i in postsList %}
    <tr >
       <td class="_id">{{i[0]}}</td> 
      <td class="author">Author</td>
        <td class="title">  {{i[1]}}</td>
         <td class="date">{{i[2]}}</td>
        <td>             
      <p>
        <a href="{{ url_for('admin.edit', id=i[0]) }}">
          <i data-toggle="tooltip" data-placement="top" title="Edit" class="fa fa-edit"></i>
        </a>
        -----
        <a href="{{ url_for('admin.delete_post', id=i[0]) }}">
          <i data-toggle="tooltip" data-placement="top" title="Delete" class="fa fa-trash">
          </i>
        </a>
      </p>
   </td>

        </tr>


{% endfor %}
