{% extends 'admin/layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<br>

<ul class="list-unstyled list-inline">
	
	<li class="list-inline-item">
		<a class="btn btn-success  text-white m-1" href="/admin-management-page/posts"> Posts</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-warning  m-1" href="/admin-management-page/users"></i>Users</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-danger  m-1" href="/admin-management-page/kyc"> KYC</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-primary  m-1" href="/admin-management-page/investments"> Invesmtns</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-info  m-1" href="/admin-management-page/withdraw"> Withdraw</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-secondary  m-1" href="/admin-management-page/withdraw-profit"> Withdraw Profit</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-dark  m-1" href="/admin-management-page/update-profit"> Update Profit</a>
	</li>
</ul>
<section id="table3">
	<h1 class="display-4 text-primary text-center">
       Support
    </h1>
	<div class="table-responsive">
		<table class="table table-striped kyc_table">
			<thead class="thead">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Subject</th>
					<th>Date</th>
                    <th>#</th>
				</tr>
			</thead>
			<tbody class="list">                
            {% for i in data %}             
            <tr class="users ">
                    <td class="_id">{{loop.index}}</td>
                    <td class="username">{{i.user }}</td>
                    <td class="fullname">   {{i.subject}}</td>
                                  
                    <td class="date">
                    {{i.createdAt | date_format}}
                    </td>
                    <td>
                        {% if i.status == 0 %}
                        <a class="btn-sm btn btn-warning" href="/admin-management-page/support-user/{{i._id}}">
                            Pending
                        </a>
                        {% endif %}

						{% if i.status == 1 %}
						<a class="btn-sm btn btn-success" href="/admin-management-page/support-user/{{i._id}}">
                           
                                Approved
							</a>
                        {% endif %}
                      
                    </td>
            </tr>
            {% endfor %}
            </tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md- col-sm- mx-auto">
			<p class="lead text-muted text-center">Pages:</p>
			<ul class="pagination text-center"></ul>
		</div>
	</div>
</section>
<div class="modal fade text-dark" role="dialog" tabindex="-1" id="add_noted">
	<div class="modal-dialog  modal-lg " role="document">
		<div class="modal-body">
			<div class="card bg-light border border-primary ">
				<div class="card-body">
					<form action="/admin-management-page/add-note-kyc" method="post" class="form" enctype="multipart/form-data" role="form">
                        <input type="hidden" name="note_id" id="note_id" value="" />
                        <div class="form-group  required">
                            <label class="control-label" for="summary">Note</label>
                            <textarea class="form-control" name="note" required=""></textarea>
                        </div>
                        <input class="btn btn-default" id="btn" type="submit" value="Submit">
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}