{% extends 'admin/layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<br>

<ul class="list-unstyled list-inline">
	
	<li class="list-inline-item">
		<a class="btn btn-success  text-white m-1" href="/admin-management-page/posts"> Posts</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-warning  m-1" href="/admin-management-page/users"></i>Users</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-danger  m-1" href="/admin-management-page/kyc"> KYC</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-primary  m-1" href="/admin-management-page/investments"> Invesmtns</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-info  m-1" href="/admin-management-page/withdraw"> Withdraw</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-secondary  m-1" href="/admin-management-page/withdraw-profit"> Withdraw Profit</a>
	</li>
	<li class="list-inline-item">
		<a class="btn btn-dark  m-1" href="/admin-management-page/update-profit"> Update Profit</a>
	</li>
</ul>
<div class="row">
	<div class="col-md-3 ">
		<div class="card text-center bg-danger text-white mb-4">
			<h5>Total Invest</h5>
			<h4 class="total_invest_">														 
				0
			</h4>
		</div>
	</div>
	<div class="col-md-3 ">
		<div class="card text-center bg-danger text-white mb-4">
			<h5>Total Commission USD</h5>
			<h4 class="total_commission">														 
				0
			</h4>
		</div>
	</div>
	<div class="col-md-3 ">
		<div class="card text-center bg-danger text-white mb-4">
			<h5>Total QTC</h5>
			<h4 class="total_qtc">														 
				0
			</h4>
		</div>
	</div>
	<div class="col-md-3 ">
		<div class="card text-center bg-danger text-white mb-4">
			<h5>Total QTC Reward</h5>
			<h4 class="total_qtc_reward">														 
				0
			</h4>
		</div>
	</div>

</div>
<section id="table3">
	<h1 class="display-4 text-primary text-center">
        User 
    </h1>
	<div class="table-responsive">
		<table id="table_data" class="table table-striped ">
			<thead class="thead">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Email</th>
					<th>Invested</th>
					<th>Commission USD</th>
					<th>QTC</th>
					<th>QTC Reward</th>
					<th>Volume F1</th>
					<th>Member Since</th>
					
				</tr>
			</thead>
			<tbody >{% include 'admin/includes/_user.html' %}</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md- col-sm- mx-auto">
			<p class="lead text-muted text-center">Pages:</p>
			<ul class="pagination text-center"></ul>
		</div>
	</div>
</section>

{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript" >
	$(document).ready(function(){

		$('#table_data').DataTable({
			"order": [[ 0, "desc" ]],
			dom: 'lBfrtip',
			buttons: [
				{
					extend: 'excelHtml5',
					title: 'Excel',
					text:'Export to excel'
				},
				
			],
			"footerCallback": function ( row, data, start, end, display ) {
			var api = this.api(), data;

			var intVal = function ( i ) {				
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
						i : 0;
			};		
			var total_invest = api
				.column( 3 )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
			var total_commission = api
				.column( 4 )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
			var total_qtc = api
				.column( 5 )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
			var total_qtc_reward = api
				.column( 6 )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );
			
			$(".total_invest_").html(total_invest.toFixed(3));
			$(".total_commission").html(total_commission.toFixed(3));
			$(".total_qtc").html(total_qtc.toFixed(5));
			$(".total_qtc_reward").html(total_qtc_reward.toFixed(3));
			},
			
		});
		
	});
	
</script>
{% endblock %}