
{% extends "main/layouts/base.html" %}

{% block title %} <title>NOLE | Trading Bot & Signals</title> {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="base_wrapper promotion_program">
    <h2 class="title">Nole Notifications</h2> <br />
    <div class="promotion_content">
        <div class="info_block add_info_wrapper">
            <h4 class="promotion_title">Sunday, October 11, 2020</h4>
            <p class="promotion_text">Dear Members of <b>Nole</b>,
                <br />
                Thanks,
                Nole
            </p>

        </div>
        <hr />
        
    </div>
    
</div>
</div>

{% endblock content %}

