
{%  extends 'home/layouts/base.html' %}

{% block title %} 
    <title>Nole | Home</title> 
{% endblock%}

{% block content %}

    <div class="main_present fadeInUp">
        <div class="base_wrapper content">
            <div class="present_slider wow  fadeInUp" data-wow-delay="0.5s">
                <div class="slides_wrapper">
                    <div class="slide_block active">
                        <h2 class="title">FUTURE BREAKTHROUGH TECHNOLOGY</h2>
                        <p class="info">NOLE - an innovative service, based on neural network, that allows you to make passive and stable profit, even if you absolutely do not understand cryptocurrencies. just make a deposit and start your way as crypto investor with NOLE!</p>

                        <button class="base_more_info smooth_link link" data-target="main_arbitrage_problems">More details <span class="icon"><img src="/static/frontend/img/icons/blue_arrows.png" alt="NOLE"></span></button>
                    </div>
                    <div class="slide_block">
                        <h2 class="title">MINING AND GROWING TOGETHER                        </h2>
                        <p class="info">We all at NOLE want that mining of the cryptocurrency should be available to every mining enthusiast. Our mission is to connect with people all across the world and providing them with the best of mining, with less expenditure and more advantages. We aim at providing the best and charging the least which will also help us in our growth.</p>

                        <button class="base_more_info smooth_link link" data-target="main_arbitrage_problems">More details <span class="icon"><img src="/static/frontend/img/icons/blue_arrows.png" alt="NOLE"></span></button>
                    </div>
                    <div class="slide_block">
                        <h2 class="title">Unique bidding algorithms!</h2>
                        <p class="info">Innovative developments of our specialists allow us to effectively use the chosen strategy of arbitrage trading. As a result, the client makes a profit and minimizes his own risks.</p>

                        <button class="base_more_info smooth_link link" data-target="main_arbitrage_problems">More details <span class="icon"><img src="/static/frontend/img/icons/blue_arrows.png" alt="NOLE"></span></button>
                    </div>
                </div>

                <div class="slider_control">
                    <div class="control_buttons">
                        <button class="prev btn">
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
    <g>
        <g>
            <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
                C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
                c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
                l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"/>
        </g>
    </g>
</svg>                            </button>
                        <button class="next btn">
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve">
    <g>
        <g>
            <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
        </g>
    </g>
</svg>                            </button>
                    </div>

                    <div class="control_dot">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                    <a href="tel:" class="base_callback callback">
                            <span class="icon">
                                <img src="/static/frontend/img/icons/phone.png" alt="NOLE">
                            </span>
                            Feedback                        </a>
                </div>
            </div>

            <div class="bg wow  fadeInUp" data-wow-delay="0.9s"></div>

            <button class="smooth_link mouse_link" data-target="main_arbitrage_problems">
                    <img src="/static/frontend/img/icons/white_mouse.png" class="mouse">
                    <img src="/static/frontend/img/icons/white_arrows_down.png" class="arrows">
                </button>
        </div>
    </div>


    
    <div class="main_about">
        <div class="base_wrapper content">
            <div class="about_preview wow  fadeInUp" data-wow-delay="0.6s">
                <img src="/static/frontend/img/problems.png" alt="NOLE">
            </div>
            <div class="about_info wow  fadeInUp" data-wow-delay="0.3s">
                <h2 class="title"><strong>About</strong> Us</h2>
                <p class="text">
                    Nole is a development complex established in 2020 in the United States. We combine Quantum Technology , Artificial Intelligence, Payment transactions and BioT to create a Quantum Blockchain Technology Group pioneered worldwide.
                </p>
                <p class="text">NOLE is a mix of a team of developers, managers, engineers and financiers involved in Cryptocurrency Trading and Forex Trading. The platform provides an opportunity to receive stable and reliable income for program participants and their partners.</p>
                <p class="text">We are an investment solution platform for individuals and organizations, allowing you to invest and receive daily profit in the simply and securely.</p>
                <p class="text">
                    Our goal is to provide our investors with an excellent opportunity for their funds, investing as wisely as possible in order to get high rates in return. There are some simple ways we can help you reduce the risk of losing more than you can afford.
                </p>
              
            </div>

            
        </div>
    </div>
    

    <div class="main_statistics statistics_wrapper wow  fadeInUp" data-wow-delay="0.3s">
        <div class="base_wrapper content">
            <div class="data_wrapper">

                <div class="data_block">
                    <h4 class="title">Data security </h4>
                    <p class="info">We are using the strongest DDoS protection in the industry with 100% up-time guarantee. Transfer information from and to our website is realized and ciphered by SSL Encryption.</p>
                </div>


                <div class="data_block">
                    <h4 class="title">User-friendly interface</h4>
                    <p class="info">We provide our clients with a user-friendly interface with clear options and workflow. Any interested individual from any corner of the globe can participate in our investment program.</p>
                </div>


                <div class="data_block">
                    <h4 class="title">Stable income</h4>
                    <p class="info">Our specialists have developed the optimal investment plans and financial strategies, which provide partners with a stable income from deposits.</p>
                </div>
            </div>

            <div class="additional_wrapper">
                <h4 class="title">Customer Referral Program</h4>
                <p class="text">You can receive up to 5% by referring to your friends, relative, colleagues and your networking circles.</p>
                <a href="/auth/signup" class="base_more_info link">
                        Sign up                        <span class="icon">
                            <img src="/static/frontend/img/icons/white_arrows.png" alt="NOLE">
                        </span>
                    </a>
            </div>
        </div>
    </div>
    <div class="main_app">
        <div class="base_wrapper content">
            <h2 class="title">Download App</h2>
            <p class="subtitle">
                Trade crypto on the go! The NOLE app puts the industry’s best crypto exchange and wallet in your hands – combining institutional-grade security with a simple, intuitive experience.
                <!-- NOLE App will help to keep track of your cryptocurrency holdings in multiple exchanges and wallets. -->

            </p>
      
       <div class="btn_download">
            <span>
                <a href="itms-services://?action=download-manifest&url=https://nole.ai/static/frontend/app/info.plist" class="link"><img class="download" src="/static/account/img/ios.png" alt="Download on the App Store"></a>
            </span>
            <span>
                <a href="https://nole.ai/static/frontend/app/nole.apk" class="link"><img class="download" src="/static/account/img/googleplay.png" alt="Download on Google Play"></a>
            </span>
       </div>
        </div>
        
    </div>
    <div class="main_services">
        <div class="base_wrapper content">
            <h2 class="title">Our Services</h2>
            <p class="subtitle">
                NOLE provides a diversified, robust and effective ecosystem incorporating various technologically powerful features to optimise assets and maximises return rate.
            </p>
            <div class="services_content">
                <div class="item_services wow  fadeInUp" data-wow-delay="0.3s">
                    <div class="item_services_preview">
                        <img src="/static/frontend/img/icons/exchange.png" alt="NOLE">
                    </div>
                    <div class="item_services_info">
                        <div class="title">
                            Crypto Exchange
                        </div>
                        <div class="sub_title">
                            Instantly exchange Bitcoin and other cryptocurrencies. The platform supports more than 15 exchange directions.
                        </div>
                    </div>

            </div>
            <div class="item_services wow  fadeInUp" data-wow-delay="0.3s">
                <div class="item_services_preview">
                    <img src="/static/frontend/img/icons/bot.png" alt="NOLE">
                </div>
                <div class="item_services_info">
                    <div class="title">
                        Trading Bot & Signals
                    </div>
                    <div class="sub_title">
                        Providing trading bot products which applied AI technology as well as the signals of the cryptocurrency market.
                    </div>
                </div>
                
            </div>
            <div class="item_services wow  fadeInUp" data-wow-delay="0.3s">
                <div class="item_services_preview">
                    <img src="/static/frontend/img/icons/forex.svg" alt="NOLE">
                </div>
                <div class="item_services_info">
                    <div class="title">
                        Forex & Cryptocurrencies
                    </div>
                    <div class="sub_title">
                        Based on the swap of forex rates and the value between altcoins for adjustment in buying and selling to gain the maximum profit.
                    </div>
                </div>
                
            </div>
            <div class="item_services wow  fadeInUp" data-wow-delay="0.3s">
                <div class="item_services_preview">
                    <img src="/static/frontend/img/icons/game.svg" alt="NOLE">
                </div>
                <div class="item_services_info">
                    <div class="title">
                        Crypto Gambling
                    </div>
                    <div class="sub_title">
                        Developing market share for mobile games and lottery systems.
                    </div>
                </div>
                
            </div>
            <div class="item_services wow  fadeInUp" data-wow-delay="0.3s">
                <div class="item_services_preview">
                    <img src="/static/frontend/img/icons/investing.svg" alt="NOLE">
                </div>
                <div class="item_services_info">
                    <div class="title">
                        Venture Funds
                    </div>
                    <div class="sub_title">
                        Activate trading bot and receive with a profit from 30% per month.
                    </div>
                </div>
                
            </div>
            <div class="item_services wow  fadeInUp" data-wow-delay="0.3s">
                <div class="item_services_preview">
                    <img src="/static/frontend/img/icons/shopping.svg" alt="NOLE">
                </div>
                <div class="item_services_info">
                    <div class="title">
                        Shopping
                    </div>
                    <div class="sub_title">
                        Here you can buy clothes and accessories of world brands, as well as our exclusive products with multiple crypto.
                    </div>
                </div>
                
            </div>
            </div>
        </div>
    </div>
    
 
    <div class="main_timeline wow  fadeInUp" data-wow-delay="0.5s">
        <div class="base_wrapper content">
            <div class="head_info">
                <div class="title_wrapper">
                    <h2 class="title"><strong>Roadmap</strong> </h2>
               
                </div>

              
            </div>

            <div class="main_info">
                <div class="flex-parent">
                    <div class="input-flex-container">
                        <div class="input">
                            <span data-year="12/2019" data-info="Idea"></span>
                        </div>
                        <div class="input">
                            <span data-year="01/2020" data-info="Code team development"></span>
                        </div>
                        <div class="input ">
                            <span data-year="03/2020" data-info="Trade Ai Launch"></span>
                        </div>
                        <div class="input">
                            <span data-year="04/2020" data-info="Wallet launch"></span>
                        </div>
                        <div class="input">
                            <span data-year="06/2020" data-info="Beta test"></span>
                        </div>
                        <div class="input">
                            <span data-year="08/2020" data-info="Platform testnet"></span>
                        </div>
                        <div class="input ">
                            <span data-year="09/2020" data-info="Project launch and investment system"></span>
                        </div>
                    </div>
            </div>
            <div class="flex-parent">
                <div class="input-flex-container">
                    
                   
                    <div class="input">
                        <span data-year="10/2020" data-info="Trade option launch"></span>
                    </div>
                    <div class="input">
                        <span data-year="11/2020" data-info="Game QTC millions launch"></span>
                    </div>
                    <div class="input">
                        <span data-year="12/2020" data-info="STO launch"></span>
                    </div>
                    <div class="input">
                        <span data-year="01/2021" data-info="Staking QTC"></span>
                    </div>
                   
                    <div class="input">
                        <span data-year="02/2021" data-info="Nole exchange launch"></span>
                    </div>
                    <div class="input">
                        <span data-year="04/2021" data-info="Listing QTC on Coinbine, Latoken and more"></span>
                    </div>
                    <div class="input">
                        <span data-year="08/2021" data-info="Launch of e-commerce platform"></span>
                    </div>
                </div>
        </div>

        </div>
    </div>
    </div>
    <div class="main_arbitrage_problems">
        <div class="base_wrapper content">
            <div class="problems_info wow  fadeInUp" data-wow-delay="0.3s">
                <h2 class="title"><strong>Problems</strong> arbitration trade</h2>
                <p class="text">Arbitrage trading is not only an effective way of making money, but also a process that is difficult from a financial and organizational point of view. Lack of qualifications and suitable tools often leads to serious problems:</p>
                <div class="percent_text">
                    <span class="percent">37</span>
                    <p class="stroke">bidders lose their invested funds - in whole or in part;</p>
                </div>
                <div class="percent_text">
                    <span class="percent">92</span>
                    <p class="stroke">decide to engage in arbitration, having no experience and special knowledge.</p>
                </div>
                <p class="text">Using our algorithms and services allows us not only to minimize risks and increase trading profitability. An equally important plus is the ability to analyze completed transactions and promptly adjust the chosen strategy.</p>
            </div>

            <div class="problems_preview wow  fadeInUp" data-wow-delay="0.6s">
                <img src="/static/frontend/img/problems.png" alt="NOLE">
            </div>
        </div>
    </div>


    <div class="main_solutions wow  fadeInUp" data-wow-delay="0.5s">
        <div class="base_wrapper content">
            <div class="head_info">
                <div class="title_wrapper">
                    <h2 class="title"><strong>Solution Overview</strong> T2T</h2>
                    <small class="sub_title">Find out why we and our customers achieve such results!</small>
                </div>

                <div class="success_formula">
                    <h5 class="title">Project Success Formula</h5>
                    <div class="formula_present">
                        T2T
                        <div class="symbol">=</div> I
                        <div class="symbol">+</div> S
                        <div class="symbol">+</div> S </div>
                </div>
            </div>

            <div class="main_info">
                <div class="block">
                    <h4 class="title">
                        <div class="icon">
                            <img src="/static/frontend/img/icons/triangle.png" alt="NOLE">
                        </div>
                        Income </h4>
                    <small class="sub_title">High yield.</small>
                    <p class="text">The effectiveness of the trading platform algorithm has been proven in practice and confirmed by the experience of a large number of users.</p>
                </div>
                <div class="block">
                    <h4 class="title">
                        <div class="icon">
                            <img src="/static/frontend/img/icons/triangle.png" alt="NOLE">
                        </div>
                        Service </h4>
                    <small class="sub_title">Professional service.</small>
                    <p class="text">The company staff consists of competent specialists who are able to provide high-quality consulting support to the client.</p>
                </div>
                <div class="block">
                    <h4 class="title">
                        <div class="icon">
                            <img src="/static/frontend/img/icons/triangle.png" alt="NOLE">
                        </div>
                        Solutions </h4>
                    <small class="sub_title">Ready-made solutions.</small>
                    <p class="text">Operational bidding takes place using specially designed bots. It is enough for the user to choose a general strategy of behavior during the course of trading.</p>
                </div>
            </div>

            <a href="tel:" class="base_callback callback">
                    <span class="icon">
                        <img src="/static/frontend/img/icons/phone.png" alt="NOLE">
                    </span>
                    Feedback                </a>
        </div>
    </div>


    <div class="main_additional_statistics statistics_wrapper wow  fadeInUp" data-wow-delay="0.5s">
        <div class="base_wrapper content">
            <div class="data_wrapper">

                <div class="data_block">
                    <h4 class="title">$ <strong class="attention">8,9</strong> mln.</h4>
                    <p class="info">The total profit of bidders on the platform over the past month.</p>
                </div>


                <div class="data_block">
                    <h4 class="title">&lt; <strong class="attention">1,74</strong> th.</h4>
                    <p class="info">The number of users who purchased the bot in the past month.</p>
                </div>


                <div class="data_block">
                    <h4 class="title">&lt; <strong class="attention">20</strong></h4>
                    <p class="info">The number of exchanges cooperating with our service.</p>
                </div>
            </div>

            <div class="additional_wrapper">
                <p class="text">Register on our website and get stable earnings right now!</p>
                <a href="./register" class="base_more_info link">
                        Sign up                        <span class="icon">
                            <img src="/static/frontend/img/icons/white_arrows.png" alt="NOLE">
                        </span>
                    </a>
            </div>
        </div>
    </div>


    <div class="main_marketing_plans wow  fadeInUp" data-wow-delay="0.5s">
        <div class="base_wrapper content">
            <div class="plans_slider">
                <div class="slides_wrapper">
                    <div class="slide  active ">
                        <div class="plan_info">
                            <h5 class="small_title">Service plans</h5>
                            <h2 class="title">Plan <strong>Oreon</strong> — start small, get more</h2>

                            <p class="text">You do not need to independently understand the rules and nuances of arbitrage trading - just register on the site and use the finished product. Our experts have developed several standard tendering plans. They are based on
                                the analysis of a large number of transactions. Each of the proposed strategies is focused on specific goals and has its own set of advantages.</p>
                            <p class="text">You choose the plan that most accurately reflects your personal needs and preferences. If necessary, provide additional information on the merits of a particular strategy.</p>
                            <a href="#" class="base_more_info more_info smooth_link" data-target="main_contact_form">
                                        More details                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/white_arrows.png" alt="NOLE">
                                        </div>
                                    </a>
                        </div>
                        <div class="plan_preview">
                            <div class="preview_bg preview_bg_1">
                                <small class="small_title">Junior</small>
                                <h4 class="plan_name">Oreon</h4>
                                <div class="icon">
                                    <img src="/static/frontend/img/icons/triangle_down.png" alt="NOLE">
                                </div>
                            </div>

                            <div class="preview_data">
                                <div class="data_head">
                                    <div class="line"></div>
                                    <div class="icon">
                                        <img src="/static/frontend/img/icons/audit.png" alt="NOLE">
                                    </div>
                                    <h5 class="title">
                                        <strong>Terms</strong><br>use of </h5>
                                </div>

                                <div class="data_info">
                                    <div class="info_wrapper">
                                        <small class="info_title">Your account</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>from $<b>25</b> to $<b>499</b> </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Deals per day</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>up to <b>3</b> pcs. </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Validity</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>on the <b>10</b> days </div>
                                    </div>

                                    <a href="./login" class="start_with_plan">
                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/power.png" alt="NOLE">
                                        </div>
                                        Start </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide ">
                        <div class="plan_info">
                            <h5 class="small_title">Service plans</h5>
                            <h2 class="title">Plan <strong>Galaxy</strong> — more opportunities, more income</h2>

                            <p class="text">You do not need to independently understand the rules and nuances of arbitrage trading - just register on the site and use the finished product. Our experts have developed several standard tendering plans. They are based on
                                the analysis of a large number of transactions. Each of the proposed strategies is focused on specific goals and has its own set of advantages.</p>
                            <p class="text">You choose the plan that most accurately reflects your personal needs and preferences. If necessary, provide additional information on the merits of a particular strategy.</p>
                            <a href="#" class="base_more_info more_info smooth_link" data-target="main_contact_form">
                                        More details                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/white_arrows.png" alt="NOLE">
                                        </div>
                                    </a>
                        </div>
                        <div class="plan_preview">
                            <div class="preview_bg preview_bg_2">
                                <small class="small_title">Junior</small>
                                <h4 class="plan_name">Galaxy</h4>
                                <div class="icon">
                                    <img src="/static/frontend/img/icons/triangle_down.png" alt="NOLE">
                                </div>
                            </div>

                            <div class="preview_data">
                                <div class="data_head">
                                    <div class="line"></div>
                                    <div class="icon">
                                        <img src="/static/frontend/img/icons/audit.png" alt="NOLE">
                                    </div>
                                    <h5 class="title">
                                        <strong>Terms</strong><br>use of </h5>
                                </div>

                                <div class="data_info">
                                    <div class="info_wrapper">
                                        <small class="info_title">Your account</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>from $<b>500</b> to $<b>2499</b> </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Deals per day</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>up to <b>6</b> pcs. </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Validity</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>on the <b>25</b> days </div>
                                    </div>

                                    <a href="./login" class="start_with_plan">
                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/power.png" alt="NOLE">
                                        </div>
                                        Start </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide ">
                        <div class="plan_info">
                            <h5 class="small_title">Service plans</h5>
                            <h2 class="title">Plan <strong>Caesar</strong> — stability and income, the perfect solution</h2>

                            <p class="text">You do not need to independently understand the rules and nuances of arbitrage trading - just register on the site and use the finished product. Our experts have developed several standard tendering plans. They are based on
                                the analysis of a large number of transactions. Each of the proposed strategies is focused on specific goals and has its own set of advantages.</p>
                            <p class="text">You choose the plan that most accurately reflects your personal needs and preferences. If necessary, provide additional information on the merits of a particular strategy.</p>
                            <a href="#" class="base_more_info more_info smooth_link" data-target="main_contact_form">
                                        More details                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/white_arrows.png" alt="NOLE">
                                        </div>
                                    </a>
                        </div>
                        <div class="plan_preview">
                            <div class="preview_bg preview_bg_3">
                                <small class="small_title">Junior</small>
                                <h4 class="plan_name">Caesar</h4>
                                <div class="icon">
                                    <img src="/static/frontend/img/icons/triangle_down.png" alt="NOLE">
                                </div>
                            </div>

                            <div class="preview_data">
                                <div class="data_head">
                                    <div class="line"></div>
                                    <div class="icon">
                                        <img src="/static/frontend/img/icons/audit.png" alt="NOLE">
                                    </div>
                                    <h5 class="title">
                                        <strong>Terms</strong><br>use of </h5>
                                </div>

                                <div class="data_info">
                                    <div class="info_wrapper">
                                        <small class="info_title">Your account</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>from $<b>2500</b> to $<b>7499</b> </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Deals per day</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>up to <b>8</b> pcs. </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Validity</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>on the <b>50</b> days </div>
                                    </div>

                                    <a href="./login" class="start_with_plan">
                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/power.png" alt="NOLE">
                                        </div>
                                        Start </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide ">
                        <div class="plan_info">
                            <h5 class="small_title">Service plans</h5>
                            <h2 class="title">Plan <strong>Liberty</strong> — high income and consistent results</h2>

                            <p class="text">You do not need to independently understand the rules and nuances of arbitrage trading - just register on the site and use the finished product. Our experts have developed several standard tendering plans. They are based on
                                the analysis of a large number of transactions. Each of the proposed strategies is focused on specific goals and has its own set of advantages.</p>
                            <p class="text">You choose the plan that most accurately reflects your personal needs and preferences. If necessary, provide additional information on the merits of a particular strategy.</p>
                            <a href="#" class="base_more_info more_info smooth_link" data-target="main_contact_form">
                                        More details                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/white_arrows.png" alt="NOLE">
                                        </div>
                                    </a>
                        </div>
                        <div class="plan_preview">
                            <div class="preview_bg preview_bg_4">
                                <small class="small_title">Junior</small>
                                <h4 class="plan_name">Liberty</h4>
                                <div class="icon">
                                    <img src="/static/frontend/img/icons/triangle_down.png" alt="NOLE">
                                </div>
                            </div>

                            <div class="preview_data">
                                <div class="data_head">
                                    <div class="line"></div>
                                    <div class="icon">
                                        <img src="/static/frontend/img/icons/audit.png" alt="NOLE">
                                    </div>
                                    <h5 class="title">
                                        <strong>Terms</strong><br>use of </h5>
                                </div>

                                <div class="data_info">
                                    <div class="info_wrapper">
                                        <small class="info_title">Your account</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>from $<b>7500</b> to $<b>25000</b> </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Deals per day</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>up to <b>12</b> pcs. </div>
                                    </div>

                                    <div class="info_wrapper">
                                        <small class="info_title">Validity</small>
                                        <div class="stroke">
                                            <div class="icon">
                                                <img src="/static/frontend/img/icons/small_arrow.png" alt="NOLE">
                                            </div>on the <b>90</b> days </div>
                                    </div>

                                    <a href="./login" class="start_with_plan">
                                        <div class="icon">
                                            <img src="/static/frontend/img/icons/power.png" alt="NOLE">
                                        </div>
                                        Start </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider_control">
                    <div class="control_buttons">
                        <button class="prev btn">
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
    <g>
        <g>
            <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
                C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
                c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
                l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"/>
        </g>
    </g>
</svg>                            </button>
                        <button class="next btn">
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve">
    <g>
        <g>
            <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
        </g>
    </g>
</svg>                            </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="white_tape"></div>
    </div>


    <div class="main_earnings wow  fadeInUp" data-wow-delay="0.5s">
        <div class="base_wrapper content">
            <h2 class="title">Why <strong>You</strong> make money with us?</h2>
            <p class="sub_title">Find out why it is so easy for our customers to start working and make a profit!</p>

            <div class="info_wrapper">
                <div class="block">
                    <div class="head_info">
                        <h4 class="num">01</h4>
                        <div class="icon">
                            <img src="/static/frontend/img/icons/start-up.png" alt="NOLE">
                        </div>
                        <h5 class="head_title">Fast start</h5>
                    </div>
                    <p class="text">Competent consulting support will allow you to quickly begin bidding;</p>
                </div>

                <div class="separator"></div>

                <div class="block">
                    <div class="head_info">
                        <h4 class="num">02</h4>
                        <div class="icon">
                            <img src="/static/frontend/img/icons/start-up.png" alt="NOLE">
                        </div>
                        <h5 class="head_title">Without participation</h5>
                    </div>
                    <p class="text">A well-thought-out algorithm eliminates the need for constant and active personal participation in arbitration;</p>
                </div>

                <div class="separator"></div>

                <div class="block">
                    <div class="head_info">
                        <h4 class="num">03</h4>
                        <div class="icon">
                            <img src="/static/frontend/img/icons/start-up.png" alt="NOLE">
                        </div>
                        <h5 class="head_title">Crypto Benefit</h5>
                    </div>
                    <p class="text">Cooperation with us is not only a guarantee of the safety of our own funds, but also the possibility of their quick increase;</p>
                </div>

                <div class="block">
                    <div class="head_info">
                        <h4 class="num">04</h4>
                        <div class="icon">
                            <img src="/static/frontend/img/icons/start-up.png" alt="NOLE">
                        </div>
                        <h5 class="head_title">Reliability</h5>
                    </div>
                    <p class="text">The practice of using our algorithms shows the probability of a failed transaction within 1%. With active participation in tenders, the indicator becomes even lower;</p>
                </div>

                <div class="separator"></div>

                <div class="block">
                    <div class="head_info">
                        <h4 class="num">05</h4>
                        <div class="icon">
                            <img src="/static/frontend/img/icons/start-up.png" alt="NOLE">
                        </div>
                        <h5 class="head_title">Absolute freedom</h5>
                    </div>
                    <p class="text">We provide users with several tariff plans. Each of them is an original trading strategy with an impressive array of advantages;</p>
                </div>

                <div class="separator"></div>

                <div class="block">
                    <div class="head_info">
                        <h4 class="num">06</h4>
                        <div class="icon">
                            <img src="/static/frontend/img/icons/start-up.png" alt="NOLE">
                        </div>
                        <h5 class="head_title">Openness</h5>
                    </div>
                    <p class="text">The rules of the site provide maximum openness and the ability to track transactions in real time.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main_contract wow  fadeInUp">
        <div class="base_wrapper content">
            <div class="special">
                <h2 class="sepcial__title">Nole Technical Details</h2>
                <table>
                    <tr>
                        <td>
                            Algorithm:
                        </td>
                        <td>
                            Scrypt
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type:
                        </td>
                        <td>
                            POS/MN
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Coin name:
                        </td>
                        <td>
                            Nole
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Coin ticker:
                        </td>
                        <td>
                            QTC
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total supply:
                        </td>
                        <td>
                            21,000,000 QTC
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block time:
                        </td>
                        <td>
                            60 seconds
                        </td>
                    </tr>
                   
                </table>
            </div>
            <!-- <pre>
                <code>
                </code>
            </pre> -->
        </div>
    </div>



    <div class="main_contact_form wow  fadeInUp" data-wow-delay="0.5s">
        <div class="base_wrapper content">
            <h3 class="title_message">Contact Us</h3>
            <h3 style=" color: #fff; margin-bottom: 35px; margin-top: -37px; ">Address: <span >3753 Howard Hughes Parkway, Paradise, Suite 200, Las Vegas, Nevada, 89169 </span> </h2>
           
        </div>
    </div>

<img id="myImg" src="/static/frontend/img/promotion1.gif" alt="Nole" style="display: none;">
<div  id="myModal" class="modal">
  <span class="close">&times;</span>
    <div class="modal-content">
        <div class="des">
            <p>
                <b>Dear members of Nole,</b>
              </p>
              <p>
                We thank members from all countries around the globe who have trusted in Nole projects to accompany us in the past time. Due to some objective reasons, we have not launched an internal stock sale (STO) to the Nole community in December 2020. We will have an announcement of this event when everything is complete. We inform the Nole community of new Nole development policies and regulations that are in effect as of January 29, 2021 as follows:
              </p>
              <p>
                1. Investment program to buy QTC exploitation package Members can invest to buy QTC mining package at the rate of 50% QTC and 50% in currencies such as BTC, ETH, TRX, USDT or 100% in currencies BTC, ETH, TRX, USDT.
                <br>
                Members receive the profit of the investment package 50% QTC and 50% in currencies BTC, ETH, TRX, USDT. The maximum income limit of the investment package is 300%.
The system commission policy remains unchanged. Members who develop the system will receive a rate of 50% QTC and 50% in USDT TRC20.
              </p>
              <p>
                2. Staking QTC program right on Nole's wallet Option 1: 6-month deposit term, profit per month is 5% Option 2: 12-month deposit term, profit per month is 8% After 30 days from the staking date, members can withdraw the original amount at any time. Principal withdrawal fee of 10% for the 6-month term and 20% for the 12-month term. Staking system commission is not applicable.
              </p>
              <p>
                3. Members who store TRX on Nole's wallet will be withdrawn from January 30, 2021.
              </p>
              <p>
                4. The function of converting QTCs to other currencies on Nole's wallet is no longer applied, this regulation aims to increase the number of QTC transactions in the community to create value for QTC like other currencies with used globally.
              </p>
             
              <p>
                Thank you, <br>
                Nole - Future breakthrough technology
              </p>
        </div>
    </div>
  <img class="modal-content" id="img01" style=" border-radius: 5px; display: none; ">
  <div id="caption"></div>
</div>
{% endblock%}
{% block js %}
<script>
    function ready() {
        var modal = document.getElementById("myModal");
        // modal.style.display = "none";
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        modal.style.display = "block";
        modalImg.src = img.src;
        captionText.innerHTML = img.alt;
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }
    }
    // document.addEventListener("DOMContentLoaded", ready);
  </script>
{% endblock %}